/* ---------------------------------------------------
# Common style
* ---------------------------------------------------*/

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color:#222;
}

h1{
    font-size: 50px;
    font-weight: 700;
}

h2{
    font-size: 40px;
    font-weight: 700;
}

h3{
    font-size: 30px;
    font-weight: 600; 
}